html {
    position: relative;
    min-height: 100%;
}

body {
    font-family:'Raleway',sans-serif;
    background-color: #d3d3d329;
    margin-bottom: 190px;
}

.titulo {
    /*background: -moz-linear-gradient(0deg, #7ec1c8 0%, #169fac 15%, #00898c 30%, #005f70 65%, #005f70 100%); /* ff3.6+ */
     /*background: -webkit-gradient(linear, left top, right top, color-stop(0%, #7ec1c8), color-stop(15%, #169fac), color-stop(30%, #00898c), color-stop(65%, #005f70), color-stop(100%, #005f70)); /* safari4+,chrome */
     /*background: -webkit-linear-gradient(0deg, #7ec1c8 0%, #169fac 15%, #00898c 30%, #005f70 65%, #005f70 100%); /* safari5.1+,chrome10+ */
     /*background: -o-linear-gradient(0deg, #7ec1c8 0%, #169fac 15%, #00898c 30%, #005f70 65%, #005f70 100%); /* opera 11.10+ */
     /*background: -ms-linear-gradient(0deg, #7ec1c8 0%, #169fac 15%, #00898c 30%, #005f70 65%, #005f70 100%); /* ie10+ */
     /*background: linear-gradient(90deg, #7ec1c8 0%, #169fac 15%, #00898c 30%, #005f70 65%, #005f70 100%); /* w3c */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ec1c8', endColorstr='#005f70',GradientType=1 ); /* ie6-9 */
    font-family: 'Open Sans','Raleway',sans-serif;
    background-color: #001660;
}

.menu-font {
    font-size: 1.2rem;
}

.menu-font:hover {
    color: #001660 !important;
}

.menu-borde {
    /*padding-bottom: 2px;*/
    background:
        linear-gradient(
        to right, 
          rgba(42,155,161,1) 0%,
          rgba(10,65,152,100) 100%
        )
        left 
        bottom
        transparent
        no-repeat; 
      background-size: 100% 3px ;
}

/* Evita que el contenido se salga del submenu */
.salto-linea {
    white-space: unset;
}

/* Elimina el color del fondo */
.sin-bgcolor {
    background-color: unset;
}

.letra-negro {
    color: black;
}

#miFooter {
    height: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fondo-footer-escritorio {
    background-color: #3a5a96;
    position: absolute;
    z-index: -1;
    background-image: imagenes/logos
}

.fondo-figura {
    fill: black;
}

.fondo-footer-movil {
    background-color: #003b6a;
}

.fondo-footer-movil2 {
    background-color: black;
}

.sombra {
    transition: box-shadow 0.5s;
}

.sombra:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
}

.texto-mayus {
    text-transform: uppercase;
}

/* Envoltura */
.icon-button {
    background-color: white;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 3.6rem;
    text-decoration: none !important;
}

/* Circulo */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}

/* Iconos */
.icon-button i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}

.rs-correo span {
    background-color: #0074cf;
}

.rs-facebook span {
    background-color: #3f5c99;
}

.rs-youtube span {
    background-color: #ff0b00;
}

.icon-button .fa-envelope {
    color: #0074cf;
}

.icon-button .fa-facebook-f {
    color: #3f5c99;
}

.icon-button .fa-youtube {
    color: #ff0b00;
}

.icon-button:hover .fa-envelope,
.icon-button:hover .fa-facebook-f,
.icon-button:hover .fa-youtube {
    color: white;
}

/* MediaQuery para dispositivos de alta resolucion (resolucion > 768px) */
@media only screen and (min-width: 768px) {
    .fondo-alumnos {
        background: url("../imagenes/fondos/estudiantes.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    .fondo-docentes {
        background: url("../imagenes/fondos/docente.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    .fondo-workspace {
        background: url("../imagenes/fondos/workspace.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    .fondo-presencial {
        background: url("../imagenes/fondos/instrumento.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    /* Submenu de formacion mas ancho para que quepan ambas columnas en dispositivos con alta resolucion */
    #submenufor {
        width: 620px;
        left: -35vh;
    }

    /* Submenu */
    .dropdown-menu {
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.6);
        opacity: 0;
        display: unset;
        visibility: hidden;
        transition: visibility 0s, opacity 0.2s linear;
        top: 42px;
    }

    .submenu > a:hover {
        background-color:#acd0fc4a;
    }

    /* Muestra el submenu cuando se pasa el cursor encima de un elemento del menu */
    .dropdown:hover > .dropdown-menu {
        visibility: visible;
        opacity: 1;
    }

    /* Sin esto cuando se da clic se muestra permanentemente */
    .dropdown > .dropdown-toggle:active {
        /*pointer-events: none;*/
    }
}

/* MediaQuery para corregir submenu formacion */
@media only screen and (min-width: 768px) and (max-width: 883px) {
    /* Submenu */
    .dropdown-menu {
        top: 70px;
    }
}

/* MediaQuery para corregir submenu formacion */
@media only screen and (min-width: 840px) {
    #submenufor {
        width: 620px;
        left: -20vh;
    }
}

/* MediaQuery para corregir submenu formacion */
@media only screen and (min-width: 960px) {
    #submenufor {
        width: 620px;
        left: unset;
    }
}

/* .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #003B6A;
    color: white;
    padding-top: 20px;
    z-index: 1100; /* más alto que main-content 
} */

/* .sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 12px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
} */

/* .sidebar ul li a:hover {
    background-color: #004080;
} */

.main-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 208px;
    background-color: #003B7A;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: center;
    /* Alinea verticalmente el logo y los textos */
    height: 100%;
}

.logo img {
    width: 160px;
    height: auto;
    margin-right: 150px;
    /* Espacio entre el logo y los textos */
    margin-left: 70px;
    /* Espacio entre el logo y los textos */

}

.titles {
    text-align: center;
}

.titles h2,
.titles h3,
.titles h4 {
    margin: 2px 0;
}

.logo2 img {
    width: 300px;
    height: auto;
    margin-left: 150px;
    margin-right: 70px;
    /* Espacio entre el logo y los textos */
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    font-size: 14px;
    line-height: 1.6;
}

/* LOGIN personalizado basado en la imagen */
.login-container {
    display: flex;
    max-width: 900px;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    background-color: white;
}

.login-form {
    flex: 1;
    padding: 40px 30px;
    background-color: #ffffff;
}

.login-info {
    flex: 1;
    background-color: #001660;
    color: white;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Cambiado de space-between */
    text-align: left;
    position: relative;
}

.text-container {
    /* Opcional: para controlar el espacio entre h4 y p */
    margin-bottom: 20px;
}

.login-info h4 {
    font-weight: bold;
    margin-bottom: 8px; /* espacio debajo del h4 */
}

.login-info p {
    font-size: 15px;
    margin: 0;
}

.login-info img {
    width: 100px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 0;
}

.login-form .form-control {
    margin-bottom: 15px;
}

.login-form .btn-primary {
    background-color: #001660;
    border: none;
}

.login-form .btn-primary:hover {
    background-color: #002288;
}

.login-form .btn-success {
    margin-top: 15px;
    background-color: #28a745;
    border: none;
}

.login-form .btn-success:hover {
    background-color: #218838;
}

.login-form .small-link {
    font-size: 0.85rem;
    display: block;
    margin-top: 10px;
    color: #001660;
    text-decoration: none;
}